@charset 'utf-8';
@import "../../_variables.sass";

.wmining-rules-section {
  background:#D2DBFF;
  .rules {
    padding: 0px 40px;
    margin: 40px 0;
    border-radius: 5px;
  }
  li {
    margin-bottom: 8px;
  }
  span.strong {
    color: $primary !important;
  }
}
